body {
    background: #f9e933;    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: 5em;
    font-style: italic;
    color:#bb3333;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.17em;
}

p {
    padding: 0 10px 10px 0;
}

header, main, footer {
    min-width: 855px;
}
header .container, main .container, footer .container {
    max-width: 855px;
    margin: auto;
}

header {
    background: white;
    overflow: auto;
    padding: 40px 0;
}

header h1 {
    float: left;
    width: 570px;
}

header nav {
    float: right;
    width: 285px;
}

header nav a, footer .sitemap a {
    color: red;
    text-decoration: none;
}

main {
    background: white;
    overflow: auto;
}

main h2 {
    padding: 20px 0;
}

main h3 {
    padding: 10px 0;
}



main .leftContent {
    float: left;
    width: 570px;
}

main .rightContent {
    float: right;
    width: 285px;
}

main .rightContent img {
    width: 150px;    
}

footer {
    overflow: auto;    
}

footer .contact {
    float: left;
    width: 570px;
}

footer .sitemap {
    float: right;
    width: 285px;
}
